@{
    var action = this.ViewContext.RouteData.Values["action"].ToString().ToLower();
    var controller = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title | Keys.me</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Keys.me offers independent and private accommodations including boutique hotels, motels, B&B and private and unique apartments and houses." />
    <meta name="keywords" content="keys, keys accommodation, keys hotel, idependent accommodation, private accommodation, boutique hotel, motel, independent hostel, bed and breakfast, B&B, uniqure aparment, private apartment rental, private house rental" />
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/assets/css/footers/footer-default.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/animate.css">
    <link rel="stylesheet" href="/assets/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/theme-colors/default.css" id="style_color">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    @RenderSection("css", required: false)
</head>
<body>
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="/Home">
                    <img src="/assets/img/keysme-logo.png" alt="Logo">
                </a>
                <!-- End Logo -->
                <!-- Topbar -->
                <div class="topbar">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="loginbar pull-right">
                                <li><a href="/profile/">@this.User.Identity.Name</a></li>
                                <li class="topbar-devider"></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="loginbar pull-right">
                            <li><a href="/Account/Register">Sign up</a></li>
                            <li class="topbar-devider"></li>
                            <li><a href="/Account/Login">Sign in</a></li>
                        </ul>
                    }
                </div>
                <!-- End Topbar -->
                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->
            </div><!--/end container-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="@(controller == "home" ? "active" : "")">
                            <a href="/Home">
                                Home
                            </a>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                            <li class="@(controller == "profile" ? "active" : "")">
                                <a href="/Profile">
                                    Profile
                                </a>
                            </li>
                            <li class="@(controller == "host" && action == "createmaininformation" ? "active" : "")">
                                <a href="/Host/CreateMainInformation">
                                    Create host
                                </a>
                            </li>
                            }
                            @if (this.User.IsInRole("Admin"))
                            {
                                <li class="@(controller == "admin" ? "active" : "")">
                                    <a href="/Admin/VerifyUser">
                                        Administration
                                    </a>
                                </li>
                            }
                            @*<li>
                                    <i class="search fa fa-search search-btn"></i>
                                    <div class="search-open">
                                        <div class="input-group animated fadeInDown">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn-u" type="button">Go</button>
                                            </span>
                                        </div>
                                    </div>
                                </li>*@
                            <!-- End Search Block -->
                        </ul>
                    </div><!--/end container-->
                </div><!--/navbar-collapse-->
            </div>
            <!--=== End Header ===-->
            <!--=== Breadcrumbs ===-->
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">@ViewBag.Title</h1>
                    @*<ul class="pull-right breadcrumb">
                            <li><a href="/Home">Home</a></li>
                            <li><a href="">Pages</a></li>
                            <li class="active">Blank Page</li>
                        </ul>*@
                </div><!--/container-->
            </div><!--/breadcrumbs-->
            <!--=== End Breadcrumbs ===-->
            <!--=== Content ===-->
            <div class="content bg-color@(ViewBag.TablesFix)-light">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            <!--=== End Content ===-->
            <div id="footer-default" class="footer-default">
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 md-margin-bottom-40">
                                <!-- About -->
                                <div class="headline"><h2>About</h2></div>
                                @*<a href="http://travel.asiaroom.com"><img id="logo-footer" class="footer-logo" src="~/img/asiaroomlogo2.png" alt="logo2"></a>*@
                                <p class="margin-bottom-25 md-margin-bottom-40"><a href="http://www.asiaroom.com">www.AsiaRoom.com</a> constantly publishes deals, tips and articles to prepare your travel to and from Asia.</p>
                                <p class="margin-bottom-25 md-margin-bottom-40"><a href="http://travel.asiaroom.com">Travel.AsiaRoom.com</a> offers most cost-effective bookings for flights, hotels, cars and tours in Asia and the major cities in the world.</p>
                                <!-- End About -->
                                <!-- Contact Us -->
                                <div class="headline"><h2>Contact Us</h2></div>
                                <address class="md-margin-bottom-40">
                                    Phone: +1.828.389.3357 <br />
                                    Email: <a href="mailto:support@asiaroom.com" class="">support@asiaroom.com</a>
                                </address>
                                <!-- End Contact Us -->
                            </div><!--/col-md-4-->

                            <div class="col-md-4 md-margin-bottom-40">
                                <!-- Link List -->
                                <div class="posts">
                                    <div class="headline"><h2>Useful Links</h2></div>
                                    <ul class="list-unstyled link-list">
                                        <li><a href="http://travel.asiaroom.com">Travel.AsiaRoom.com</a><i class="fa fa-angle-right"></i></li>
                                        <li>@Html.ActionLink("Tours", "Index", "Tour")<i class="fa fa-angle-right"></i></li>
                                        <li>@Html.ActionLink("Tips and Articles", "Tips_And_Articles", "Blog")<i class="fa fa-angle-right"></i></li>
                                        <li>@Html.ActionLink("Blogs", "Index", "Blog")<i class="fa fa-angle-right"></i></li>
                                        <li>@Html.ActionLink("About us", "About", "Home")<i class="fa fa-angle-right"></i></li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")<i class="fa fa-angle-right"></i></li>
                                        @*@if (AsiaRoomNew.Infrastructure.SessionHelper.IsInAnyRole("Admin"))
                                            {
                                                <li role="presentation">@Html.ActionLink("Taxi Admin", "Index", "Admin")<i class="fa fa-angle-right"></i></li>
                                            }
                                            @if (AsiaRoomNew.Infrastructure.SessionHelper.IsInAnyRole("Blogger"))
                                            {
                                                <li>@Html.ActionLink("Blog Admin", "BlogAdmin", "Blog")<i class="fa fa-angle-right"></i></li>
                                            }
                                            @if (AsiaRoomNew.Infrastructure.SessionHelper.IsInAnyRole("TourAdmin"))
                                            {
                                                <li role="presentation">@Html.ActionLink("Tour Admin", "Index", "TourAdmin")<i class="fa fa-angle-right"></i></li>
                                            }
                                            @Html.Partial("_LoginPartial2")*@


                                    </ul>
                                </div>
                                <!-- End Link List -->
                            </div><!--/col-md-4-->
                            <div class="col-md-4">
                                <!-- Monthly Newsletter -->
                                <div class="headline"><h2>Newsletter Subscribe</h2></div>
                                <p>Subscribe to our newsletter and stay up to date with the latest articles and deals!</p>
                                @*@using (Html.BeginForm("NewsletterSubscribe", "Blog", FormMethod.Post, new { @class = "form-subsribe", role = "form" }))
                                    {
                                        <div class="input-group">
                                            <input class="form-control" id="FullName" name="FullName" placeholder="Name" type="text" value="" />
                                            <input class="form-control" id="Email" name="Email" placeholder="Email Address" type="text" value="" />
                                            <span class="input-group-btn">
                                                <input type="submit" class="btn-u" value="Subscribe" />
                                            </span>
                                        </div>
                                    }*@
                                <!-- End Monthly Newsletter -->
                                <!-- Social Links -->
                                <div class="headline"><h2>Stay Connected</h2></div>
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/asiaroombooking" data-original-title="Facebook" class="social_facebook"></a></li>
                                    <li><a href="https://twitter.com/asiaroom_com" data-original-title="Twitter" class="social_twitter"></a></li>
                                    <li><a href="https://plus.google.com/109112132220747757141/" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                                    <li><a href="https://www.linkedin.com/company/asiaroom-llc" data-original-title="Linkedin" class="social_linkedin"></a></li>
                                    @*<li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                                        <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>*@
                                    @*<li><a href="#" data-original-title="Feed" class="social_rss"></a></li>*@
                                </ul>
                                <!-- End Social Links -->
                            </div><!--/col-md-4-->
                        </div>
                    </div>
                </div><!--/footer-->
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    &copy; @DateTime.Now.Year - AsiaRoom, LLC&nbsp;&nbsp;&nbsp;All Rights Reserved.
                                    @Html.ActionLink("Privacy Policy", "Privacy_Policy", "Home") | @Html.ActionLink("Terms of Service", "Terms_of_Service", "Home")
                                </p>
                            </div>
                            <div class="col-md-6">
                                <a href="http://travel.asiaroom.com">
                                    <img class="pull-right" id="logo-footer" src="~/assets/AsiaRoomLogo.png" alt="logo2" style="width: 140px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/copyright-->
            </div>
            <!--=== End Footer ===-->
        </div>
        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
        <script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>
        <!-- JS Customization -->
        <script type="text/javascript" src="/assets/js/custom.js"></script>
        <!-- JS Page Level -->
        <script type="text/javascript" src="/assets/js/app.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/style-switcher.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                App.init();
                StyleSwitcher.initStyleSwitcher();
            });
        </script>
        @RenderSection("scripts", required: false)
        <!--[if lt IE 9]>
            <script src="/assets/plugins/respond.js"></script>
            <script src="/assets/plugins/html5shiv.js"></script>
            <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
            <![endif]-->
    </body>
</html>
