@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@using Keysme.Global
@model Keysme.Web.ViewModels.Home.IndexViewModel

<div class="cube-portfolio container margin-bottom-60">
    @*@<div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
                <div data-filter=".identity" class="cbp-filter-item"> Identity </div> |
                <div data-filter=".web-design" class="cbp-filter-item"> Web Design </div> |
                <div data-filter=".graphic" class="cbp-filter-item"> Graphic </div> |
                <div data-filter=".logos" class="cbp-filter-item"> Logo </div>
            </div><!--/end Filters Container-->
        </div>*@
    <div id="grid-container" class="cbp-l-grid-agency">
        @foreach (var host in this.Model.Hosts)
        {
            <div class="cbp-item">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                            <img src="/@Path.Combine(GlobalConstants.HostImagesFolder, host.Id + "/" + host.Images.FirstOrDefault()?.Filename)">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="/Host/Details/@host.Id"><i class="rounded-x fa fa-link"></i></a></li>
                                    @*<li><a href="/@Path.Combine(GlobalConstants.HostImagesFolder, host.Id + "/" + host.Images.FirstOrDefault()?.Filename)" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="cbp-title-dark" href="/Host/Details/@host.Id">
                    <div class="cbp-l-grid-agency-title">@host.Title</div>
                    <div class="cbp-l-grid-agency-desc">@host.Country, @host.City</div>
                </a>
            </div>
        }
        @*<div class="cbp-item graphic">
            <div class="cbp-caption margin-bottom-20">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/img/main/img12.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="/assets/img/main/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-title-dark">
                <div class="cbp-l-grid-agency-title">Design Object 01</div>
                <div class="cbp-l-grid-agency-desc">Web Design</div>
            </div>
        </div>
        <div class="cbp-item web-design logos">
            <div class="cbp-caption margin-bottom-20">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/img/main/img18.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="/assets/img/main/img18.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-title-dark">
                <div class="cbp-l-grid-agency-title">Design Object 02</div>
                <div class="cbp-l-grid-agency-desc">Web Design</div>
            </div>
        </div>
        <div class="cbp-item graphic logos">
            <div class="cbp-caption margin-bottom-20">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/img/main/img7.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="/assets/img/main/img7.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-title-dark">
                <div class="cbp-l-grid-agency-title">Design Object 03</div>
                <div class="cbp-l-grid-agency-desc">Web Design</div>
            </div>
        </div>
        <div class="cbp-item web-design graphic">
            <div class="cbp-caption margin-bottom-20">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/img/main/img4.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="/assets/img/main/img4.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-title-dark">
                <div class="cbp-l-grid-agency-title">Design Object 04</div>
                <div class="cbp-l-grid-agency-desc">Web Design</div>
            </div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption margin-bottom-20">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/img/main/img3.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="/assets/img/main/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-title-dark">
                <div class="cbp-l-grid-agency-title">Design Object 05</div>
                <div class="cbp-l-grid-agency-desc">Web Design</div>
            </div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption margin-bottom-20">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/img/main/img6.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href="/assets/img/main/img6.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-title-dark">
                <div class="cbp-l-grid-agency-title">Design Object 06</div>
                <div class="cbp-l-grid-agency-desc">Web Design</div>
            </div>
        </div>*@
    </div>
</div>

<div class="text-center">
    <ul class="pagination">
        @if (this.Model.CurrentPage > 1)
        {
            <li><a href="/Home/Index/@this.Model.CurrentPage - 1">«</a></li>
        }
        @for (int i = 1; i <= this.Model.Pages; i++)
        {
            <li><a href="/Home/Index/@i" class="@(i == this.Model.CurrentPage ? "active" : "")">@i</a></li>
        }
        @if (this.Model.CurrentPage < this.Model.Pages)
        {
            <li><a href="/Home/Index/@this.Model.CurrentPage + 1">»</a></li>
        }
    </ul>
</div>


@section Css{
    <link rel="stylesheet" href="/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
}

@section Scripts{
    <script type="text/javascript" src="/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/cube-portfolio/cube-portfolio-2.js"></script>
}
