@model Keysme.Web.ViewModels.Account.RegisterBindingModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-page sky-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="reg-header">
                <h2>Register a new account</h2>
                <p>
                    Already Signed Up? Click <a href="/Account/Login" class="color-green">Sign In</a> to login your account.
                </p>
            </div>

            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control margin-bottom-20" })

            <div class="row">
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control margin-bottom-20" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control margin-bottom-20" })
                </div>
            </div>

            <label>Date of birth</label>
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control margin-bottom-20", name="date", id="date1"})
            </label>

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <hr>

            <div class="row">
                <div class="col-lg-6">
                    @*<label>
                        <input type="checkbox">    I read <a href="page_terms.html" class="color-green">Terms and Conditions</a>
                    </label>*@
                </div>
                <div class="col-lg-6 text-right">
                    <button class="btn-u" type="submit">Register</button>
                </div>
            </div>
        }
    </div>
</div>

@section Css {
    <link rel="stylesheet" href="/assets/css/pages/page_log_reg_v1.css">
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/masking.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/validation.js"></script>

<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			Masking.initMasking();
			Datepicker.initDatepicker();
			Validation.initValidation();
			StyleSwitcher.initStyleSwitcher();
		});
</script>
}
