@using System.Globalization
@model Keysme.Web.ViewModels.Profile.ChangeInfoViewModel

@using (Html.BeginForm("ChangeInfo", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt><strong>First name</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </dd>
        <hr>
        <dt><strong>Last name</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </dd>
        <hr>
        <dt><strong>Gender</strong></dt>
        <dd>

            @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control" })
        </dd>
        <hr>
        <dt><strong>Date of birth</strong></dt>
        <dd>
            <div class="row">
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.BirthMonth, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), "Select Month", new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.BirthDay, Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Select Day", new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.BirthYear, Enumerable.Range(1910, DateTime.Now.Year - 1909).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Select Year", new { @class = "form-control" })
                </div>
            </div>
        </dd>
        <hr>
        <dt><strong>Phone Number</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @type = "number" })
        </dd>
        <hr>
        <dt><strong>About</strong></dt>
        <dd>
            @Html.TextAreaFor(m => m.About, new { @class = "form-control", rows = "5" })
        </dd>
        <hr>
        <dt><strong>Location</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        </dd>
        <hr>
        <dt><strong>School</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.School, new { @class = "form-control" })
        </dd>
        <hr>
        <dt><strong>Work</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.Work, new { @class = "form-control" })
        </dd>
        <hr>
        <dt><strong>Languages</strong></dt>
        <dd>
            @Html.TextBoxFor(m => m.Languages, new { @class = "form-control" })
        </dd>
        <hr>
    </dl>
    <button type="submit" class="btn-u">Save Changes</button>
}