@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = this.Model.Host.Title;
}

@using Keysme.Global
@using Keysme.Services.Data
@model Keysme.Web.ViewModels.Host.DetailsViewModel

<div class="carousel slide carousel-v2 margin-bottom-30" id="portfolio-carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < this.Model.Host.Images.Count; i++)
            {
            <li class="@(i == 0 ? "active" : "") rounded-x" data-target="#portfolio-carousel" data-slide-to="@i"></li>
        }
    </ol>

    <div class="carousel-inner">
        @{
            var first = true;
        }
        @foreach (var image in this.Model.Host.Images)
            {
                if (first)
                {
                    first = false;
                <div class="item active">
                    <img class="full-width img-responsive" src="/@Path.Combine(GlobalConstants.HostImagesFolder, image.HostId + "/" + image.Filename)">
                </div>
            }
            else
            {
                <div class="item">
                    <img class="full-width img-responsive" src="/@Path.Combine(GlobalConstants.HostImagesFolder, image.HostId + "/" + image.Filename)">
                </div>
            }
        }
    </div>
    <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left arrow-prev"></i>
    </a>
    <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-right arrow-next"></i>
    </a>
</div>

<div class="funny-boxes funny-boxes-colored funny-boxes-blue margin-bottom-30">
    <div class="row">
        <div class="col-md-3 funny-boxes-img">
            <img class="rounded-2x" style="width: 140px; height: 140px;" src="/@this.Model.ProfileImagePath" alt="">
            @*<ul class="list-unstyled">
                    <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                    <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                </ul>*@
        </div>
        <div class="col-md-9">
            <h2><a href="#">@this.Model.Host.Title</a></h2>
            @*<ul class="list-unstyled funny-boxes-rating">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-o"></i></li>
                    <li><i class="fa fa-star-o"></i></li>
                </ul>*@
            <p>@this.Model.Host.Description</p>
        </div>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-sm-4">
        <div class="service-block service-block-default">
            <i class="icon-custom rounded icon-color-dark icon-line icon-badge"></i>
            <h2 class="heading-md">@this.Model.Host.Type.GetDisplayName()</h2>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="service-block service-block-default">
            <i class="icon-custom rounded icon-color-dark icon-line icon-badge"></i>
            <h2 class="heading-md">@this.Model.Host.RoomType.GetDisplayName()</h2>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="service-block service-block-default">
            <i class="icon-custom rounded icon-color-dark icon-line icon-badge"></i>
            <h2 class="heading-md">@this.Model.Host.Price</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="sky-form">
            <fieldset>
                <section>
                    <div class="heading heading-v4">
                        <h2>About</h2>
                        <p>@this.Model.Host.HostName</p>
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <section>
                    <div class="row">
                        <div class="col col-md-4">
                            <label>Main information</label>
                        </div>
                        <div class="col col-md-4">
                            <label>Rooms count: @this.Model.Host.RoomsCount</label> <br />
                            <label>Guests per room: @this.Model.Host.MaxGuests</label><br />
                            <label>Beds per room: @this.Model.Host.BedsCount</label><br />
                            <label>Baths per room: @this.Model.Host.BathsCount</label><br />
                        </div>
                        <div class="col col-md-4">
                            <label>Check in after: @this.Model.Host.CheckInAfter</label><br />
                            <label>Check out before: @this.Model.Host.CheckOutBefore</label><br />
                            <label>WiFi name: @this.Model.Host.WiFiName</label><br />
                            <label>WiFi password: @this.Model.Host.WiFiPassword</label><br />
                        </div>
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <section>
                    <div class="row">
                        <div class="col col-md-4">
                            <label class="checkbox">
                                <input type="checkbox" name="AirConditioned" disabled="disabled" value="true" @( this.Model.Host.AirConditioned ? "checked" : "")>
                                <i></i>Air Conditioned
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="BarOrLounge" disabled="disabled" value="true" @( this.Model.Host.BarOrLounge ? "checked" : "")>
                                <i></i>Bar Or Lounge
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="ConciergeService" disabled="disabled" value="true" @( this.Model.Host.ConciergeService ? "checked" : "")>
                                <i></i>Concierge Service
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="ComplimentaryBreakfast" disabled="disabled" value="true" @( this.Model.Host.ComplimentaryBreakfast ? "checked" : "")>
                                <i></i>Complimentary Breakfast
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="ContinentalBreakfast" disabled="disabled" value="true" @( this.Model.Host.ContinentalBreakfast ? "checked" : "")>
                                <i></i>Continental Breakfast
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Essentials" disabled="disabled" value="true" @( this.Model.Host.Essentials ? "checked" : "")>
                                <i></i>Essentials
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Shampoo" disabled="disabled" value="true" @( this.Model.Host.Shampoo ? "checked" : "")>
                                <i></i>Shampoo
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Tv" disabled="disabled" value="true" @( this.Model.Host.Tv ? "checked" : "")>
                                <i></i>TV
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Heating" disabled="disabled" value="true" @( this.Model.Host.Heating ? "checked" : "")>
                                <i></i>Heating
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Kitchen" disabled="disabled" value="true" @( this.Model.Host.Kitchen ? "checked" : "")>
                                <i></i>Kitchen
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Internet" disabled="disabled" value="true" @( this.Model.Host.Internet ? "checked" : "")>
                                <i></i>Internet
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Wifi" disabled="disabled" value="true" @( this.Model.Host.Wifi ? "checked" : "")>
                                <i></i>Wifi
                            </label>
                        </div>
                        <div class="col col-md-4">
                            <label class="checkbox">
                                <input type="checkbox" name="HotTub" disabled="disabled" value="true" @( this.Model.Host.HotTub ? "checked" : "")>
                                <i></i>Hot Tub
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Washer" disabled="disabled" value="true" @( this.Model.Host.Washer ? "checked" : "")>
                                <i></i>Washer
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Pool" disabled="disabled" value="true" @( this.Model.Host.Pool ? "checked" : "")>
                                <i></i>Pool
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Dryer" disabled="disabled" value="true" @( this.Model.Host.Dryer ? "checked" : "")>
                                <i></i>Dryer
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="ParkingFree" disabled="disabled" value="true" @( this.Model.Host.ParkingFree ? "checked" : "")>
                                <i></i>Parking Free
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="FitnessCenter" disabled="disabled" value="true" @( this.Model.Host.FitnessCenter ? "checked" : "")>
                                <i></i>Fitness Center
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Elevator" disabled="disabled" value="true" @( this.Model.Host.Elevator ? "checked" : "")>
                                <i></i>Elevator
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="SmokeDetector" disabled="disabled" value="true" @( this.Model.Host.SmokeDetector ? "checked" : "")>
                                <i></i>Smoke Detector
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="CarbonMonoxideDetector" disabled="disabled" value="true" @( this.Model.Host.CarbonMonoxideDetector ? "checked" : "")>
                                <i></i>Carbon Monoxide Detector
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="FirstAidKit" disabled="disabled" value="true" @( this.Model.Host.FirstAidKit ? "checked" : "")>
                                <i></i>First-Aid Kit
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="SafetyCard" disabled="disabled" value="true" @( this.Model.Host.SafetyCard ? "checked" : "")>
                                <i></i>Safety Card
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="FireExtinguisher" disabled="disabled" value="true" @( this.Model.Host.FireExtinguisher ? "checked" : "")>
                                <i></i>Fire Extinguisher
                            </label>
                        </div>
                        <div class="col col-md-4">
                            <label class="checkbox">
                                <input type="checkbox" name="AllTimeCheckin" disabled="disabled" value="true" @( this.Model.Host.AllTimeCheckin ? "checked" : "")>
                                <i></i>Alltime Checkin
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Hangers" disabled="disabled" value="true" @( this.Model.Host.Hangers ? "checked" : "")>
                                <i></i>Hangers
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="HairDryer" disabled="disabled" value="true" @( this.Model.Host.HairDryer ? "checked" : "")>
                                <i></i>Hair Dryer
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="Iron" disabled="disabled" value="true" @( this.Model.Host.Iron ? "checked" : "")>
                                <i></i>Iron
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="DeskOrWorkspace" disabled="disabled" value="true" @( this.Model.Host.DeskOrWorkspace ? "checked" : "")>
                                <i></i>Desk Or Workspace
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="FamilyFriendly" disabled="disabled" value="true" @( this.Model.Host.FamilyFriendly ? "checked" : "")>
                                <i></i>Family Friendly
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="SmokingAllowed" disabled="disabled" value="true" @( this.Model.Host.SmokingAllowed ? "checked" : "")>
                                <i></i>Smoking Allowed
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="PetsAllowed" disabled="disabled" value="true" @( this.Model.Host.PetsAllowed ? "checked" : "")>
                                <i></i>Pets Allowed
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="WheelchairAccessible" disabled="disabled" value="true" @( this.Model.Host.WheelchairAccessible ? "checked" : "")>
                                <i></i>Wheelchair Accessible
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="HasPets" disabled="disabled" value="true" @( this.Model.Host.HasPets ? "checked" : "")>
                                <i></i>Has Pets
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="AirportShuttleFree" disabled="disabled" value="true" @( this.Model.Host.AirportShuttleFree ? "checked" : "")>
                                <i></i>Airport Shuttle-Free
                            </label>
                        </div>
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <section>
                    <div class="row">
                        <div class="col col-md-4">
                            <label>Prices</label>
                        </div>
                        <div class="col col-md-4">
                            <label>Price: @this.Model.Host.Price @this.Model.Host.Currency.Symbol</label> <br />
                            <label>Can be instantly booked: @(this.Model.Host.IsInstantBook ? "Yes" : "No")</label> <br />
                        </div>
                        <div class="col col-md-4">
                            <label>Cancellation: @this.Model.Host.CancellationPolicy</label><br />
                        </div>
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <section>
                    <div class="row">
                        <div class="col col-md-4">
                            <label>House manual</label>
                        </div>
                        <div class="col col-md-8">
                            <label>@this.Model.Host.HouseManual</label> <br />
                        </div>
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <section>
                    <div class="row">
                        <div class="col col-md-4">
                            <label>Contacts</label>
                        </div>
                        <div class="col col-md-4">
                            <label>Main phone: @this.Model.Host.MainPhone</label> <br />
                        </div>
                        <div class="col col-md-4">
                            <label>Reservation phone: @this.Model.Host.ReservationPhone</label> <br />
                        </div>
                    </div>
                </section>
            </fieldset>
        </div>
    </div>
    <div class="col-sm-4">
        <div id="map" style="height: 300px; width: 100%;"></div>
        <hr />
        <ul class="list-unstyled project-details">
            <li><strong>Country: @this.Model.Host.Country</strong></li>
            <li><strong>State: @this.Model.Host.State</strong></li>
            <li><strong>City: @this.Model.Host.City</strong></li>
            <li><strong>Address: @this.Model.Host.Address</strong></li>
            <li><strong>Postal code: @this.Model.Host.PostalCode</strong></li>
        </ul>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
}

@section Scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script>
        function initAutocomplete() {
            var coordinates = { lat: @this.Model.Host.Latitude, lng: @this.Model.Host.Longitude };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: coordinates,
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var marker = new google.maps.Marker({
                position: coordinates,
                map: map,
                title: '@this.Model.Host.Title'
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC_aGja_ubIScNvOHKuzIc75uPHhfeh3s&libraries=places&callback=initAutocomplete"
            async defer></script>
}