@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Keysme.Web.ViewModels.Host.HostMainInformationViewModel

<div class="row">
    <!-- Begin Sidebar Menu -->
    @Html.Partial("SideBarPartial")
    <div class="col-md-9">
        <!-- Checkout-Form -->
        @using (Html.BeginForm("Create", "Host", FormMethod.Post, new { @class="sky-form"}))
        {
            @*<form action="#" id="sky-form" class="sky-form" novalidate="novalidate">*@
                <header>Main information</header>
                <fieldset>
                    <section>
                        @Html.LabelFor(m => m.Title, new { @class = "input" })
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.Description, new { @class = "textarea" })
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.HostName, new { @class = "input" })
                        @Html.TextBoxFor(m => m.HostName, new { @class = "form-control" })
                    </section>
                </fieldset>

                <fieldset>
                    <section>
                        @Html.LabelFor(m => m.Type, new { @class = "input" })
                        @Html.EnumDropDownListFor(m => m.Type, "Host type", new { @class = "form-control" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.RoomType, new { @class = "input" })
                        @Html.EnumDropDownListFor(m => m.RoomType, "Room type", new { @class = "form-control" })
                    </section>
                </fieldset>

                <fieldset>
                    <section>
                        @Html.LabelFor(m => m.RoomsCount, new { @class = "input" })
                        @Html.TextBoxFor(m => m.RoomsCount, new { @class = "form-control" })
                    </section>
                    <div class="row">
                        <section class="col col-md-4">
                            @Html.LabelFor(m => m.MaxGuests, new { @class = "input" })
                            @Html.TextBoxFor(m => m.MaxGuests, new { @class = "form-control" })
                        </section>
                        <section class="col col-md-4">
                            @Html.LabelFor(m => m.BedsCount, new { @class = "input" })
                            @Html.TextBoxFor(m => m.BedsCount, new { @class = "form-control" })
                        </section>
                        <section class="col col-md-4">
                            @Html.LabelFor(m => m.BathsCount, new { @class = "input" })
                            @Html.TextBoxFor(m => m.BathsCount, new { @class = "form-control" })
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-md-7">
                            @Html.LabelFor(m => m.Price, new { @class = "input" })
                            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        </section>
                        <section class="col col-md-5">
                            @Html.LabelFor(m => m.CurrencyId, new { @class = "input" })
                            @Html.DropDownListFor(m => m.CurrencyId, this.Model.Currencies, "Currency", new { @class = "form-control" })
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-5">
                            <label class="toggle">
                                <input type="checkbox" name="IsInstantBook">
                                <i class="no-rounded"></i>Can be instantly booked
                            </label>
                        </section>
                    </div>
                    <section>
                        @Html.LabelFor(m => m.CancellationPolicy, new { @class = "input" })
                        @Html.EnumDropDownListFor(m => m.CancellationPolicy, "Cancellation policy", new { @class = "form-control" })
                    </section>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-md-6">
                            @Html.LabelFor(m => m.CheckInAfter, new { @class = "input" })
                            @Html.TextBoxFor(m => m.CheckInAfter, new { @class = "form-control" })
                        </section>
                        <section class="col col-md-6">
                            @Html.LabelFor(m => m.CheckOutBefore, new { @class = "input" })
                            @Html.TextBoxFor(m => m.CheckOutBefore, new { @class = "form-control" })
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-md-6">
                            @Html.LabelFor(m => m.WiFiName, new { @class = "input" })
                            @Html.TextBoxFor(m => m.WiFiName, new { @class = "form-control" })
                        </section>
                        <section class="col col-md-6">
                            @Html.LabelFor(m => m.WiFiPassword, new { @class = "input" })
                            @Html.TextBoxFor(m => m.WiFiPassword, new { @class = "form-control" })
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <section>
                        @Html.LabelFor(m => m.HouseManual, new { @class = "input" })
                        @Html.TextBoxFor(m => m.HouseManual, new { @class = "form-control" })
                    </section>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-md-6">
                            @Html.LabelFor(m => m.MainPhone, new { @class = "input" })
                            @Html.TextBoxFor(m => m.MainPhone, new { @class = "form-control" })
                        </section>
                        <section class="col col-md-6">
                            @Html.LabelFor(m => m.ReservationPhone, new { @class = "input" })
                            @Html.TextBoxFor(m => m.ReservationPhone, new { @class = "form-control" })
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-5">
                            <label class="toggle">
                                <input type="checkbox" name="SmokingAllowed">
                                <i class="no-rounded"></i>Smoking is allowed
                            </label>
                        </section>
                    </div>
                </fieldset>

                <footer>
                    <button type="submit" class="btn-u">Continue</button>
                </footer>
            @*</form>*@
}
    </div>
    <!-- End Content -->
</div>

@section Css{
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
}

@section Scripts{
    //@Scripts.Render("~/bundles/jqueryval")
}